
body {
     background-image: "https://storage.googleapis.com/pai-images/097b3b727d7f4ea3b551011f58ca2e0c.png" ;
     background-color: red;
     text-decoration-color:green;
      }

p {
  text-decoration-color: green;
  text-align: right;
}

h1 {text: green;

}

.horizontal_navagation_bar {
  text:blue;
  text: 88px;
  border: 1px;
  padding-bottom: 30px;
  text-align: right;

}
